

.forms{
    margin: 10px auto;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 10px black;
}
#username{
    height: 35px;
    width: 70%;
    
}