.container{
    margin: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.imagecard{
    padding: 10px;
    width: 23%;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.image{
    height: 100%;
    width: 100%;
}