*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(31,31,45);
}

.nav{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100%;
    width: 30%;
    color: aliceblue;
    display: flex;
    align-items: center;

}
.logo img{
    height: 100%;
    width: 35%;
}
.submenu{
    text-decoration: none;
    color: aliceblue;
}

.menu{
    color: aliceblue;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
input{
    width: 70%;
    height: 50%;
}